// @import '~@/assets/scss/var.scss';

$originx: 17px;
$originY: 29px;

.cd {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .stick {
    position: absolute;
    top: 0;
    left: 173px;
    width: 100px;
    height: 170px;
    background: url('../../assets/img/stick.png') no-repeat;
    background-size: contain;
    transition: all 300ms linear;
    transform-origin: $originx $originY;
    z-index: 3;

    &--pause {
      transform: rotate(-25deg);
    }
  }
}

.crosshair {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: red;
  left: $originx - 3;
  top: $originY - 3;
  opacity: 0.5;
  z-index: 5;
}

.disk {
  margin-top: 105px;
  position: relative;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background: url('../../assets/img/disk-bg.png') no-repeat center center;
  background-size: contain;
  z-index: 1;
  &-cover {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url('../../assets/img/disk.png') no-repeat center center;
    background-size: contain;
    z-index: 2;
    .img {
      position: relative;
      width: 205px;
      height: 205px;
      border-radius: 50%;
    }
  }
}
