.list {
  &-lrc {
    height: 100%;
    overflow: hidden;
  }

  &-box {
    padding: 50% 0;
    text-align: center;
  }
}

.transition {
  transition: all 0.5s linear;
}
.flag {
  font-size: 12px;
  color: #a9a9ab;
  height: 35px;
  line-height: 35px;
  transition: color 0.7s linear;
}

.active {
  font-size: 14px;
  color: #fefefe;
}
