.top {
  position: relative;
  width: 375px;
  height: 210px;
  overflow: hidden;

  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(20px);
    z-index: 1;
    &:after {
      content: ' ';
      background-color: rgba(0, 0, 0, 0.25);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  &-main {
    box-sizing: border-box;
    margin: 0 10px;
    padding: 15px 5px;
    position: relative;
    z-index: 2;
  }
}

.cover-box {
  overflow: hidden;
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 10px;

  .img {
    width: 100%;
    vertical-align: middle;
  }

  .count {
    position: absolute;
    right: 3px;
    top: 4px;
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.info-box {
  margin-left: 15px;

  .title {
    line-height: 1.3;
    font-size: 17px;
    color: #fefefe;
  }
}

.main {
  position: relative;
  &-bar {
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    .icon {
      position: relative;
      display: inline-block;
      margin-right: 10px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #ea4d45;
      &::before {
        position: absolute;
        display: inline-block;
        left: 7px;
        top: 4.5px;
        content: '';
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-color: transparent transparent transparent #fff;
      }
    }
    .num {
      display: inline-block;
      margin-left: 5px;
      font-size: 12px;
      color: #b7b7b7;
    }
  }
}

.padding-10 {
  padding: 0 10px;
}

.item {
  margin-top: 20px;
  height: 34px;
  &__num {
    font-size: 14px;
    flex: 0 0 27px;
    color: #939394;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .name {
      font-size: 16px;
      color: #000;
    }
    .other {
      font-size: 12px;
      color: #b7b7b7;
    }
  }
  &__actions {
    flex: 0 0 56px;
  }
}

.tags {
  background-color: blue;
}
