.progress-bar {
  margin-top: 40px;
  padding: 0 10px;
  .time {
    color: #fff;
    font-size: 12px;
    opacity: 0.5;
  }

  .slider {
    margin: 0 10px;
    width: 290px;
  }
}

.control-bar {
  padding: 0 15px;
  margin-top: 20px;
  .btn {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    &--mini {
      width: 40px;
      height: 40px;
    }
  }
}

// 按钮map：key为类名，value图片名
$iconsMap: (
  'model': 'seq',
  'prev': 'prev',
  'play': 'play',
  'pause': 'pause',
  'next': 'next',
  'list': 'list',
);

@each $name, $img in $iconsMap {
  .d-#{$name} {
    background-image: url('~@/assets/img/#{$img}.png');
    &:active {
      background-image: url('~@/assets/img/#{$img}-hover.png');
    }
  }
}
