.progress-bar {
  margin-top: 40px;
  padding: 0 12px;
  .time {
    color: #fff;
    font-size: 12px;
    opacity: 0.5;
  }

  .slider {
    margin: 0 7px;
    width: 290px;
  }
}

.control-bar {
  padding: 0 28px;
  margin-top: 20px;
  .btn {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    &--mini {
      width: 40px;
      height: 40px;
    }
  }
}

.loading {
  position: relative;
  margin: 10px;
  width: 50px;
  height: 50px;
  background: url('~@/assets/img/loading-spinner.png') no-repeat center;
  background-size: 40px 40px;
  animation: rotate 1.5s linear infinite;
}

// 按钮map：key为类名，value图片名
$iconsMap: (
  'model': 'seq',
  'prev': 'prev',
  'play': 'play',
  'pause': 'pause',
  'next': 'next',
  'list': 'list',
);

@each $name, $img in $iconsMap {
  .d-#{$name} {
    background-image: url('~@/assets/img/#{$img}.png');
    &:active {
      background-image: url('~@/assets/img/#{$img}-hover.png');
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
