.mod_nav {
  background-color: red;
}
.mod_nav_list {
  display: flex;
  padding: 15px 10px 10px;
}
.mod_nav_list_item {
  flex: 1;
  text-align: center;
  font-size: 10px;
}
.mod_nav_list_item_logo {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
}
.mod_nav_list_item_logo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.mod_nav_list_item_name {
  margin-top: 2px;
}
